![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [64]:
# Import necessary packages
import pandas as pd
import numpy as np

# Begin coding here ...
# Use as many cells as you like

In [65]:
airbnb_price=pd.read_csv('data/airbnb_price.csv')
airbnb_room_type=pd.read_excel('data/airbnb_room_type.xlsx')
airbnb_last_review=pd.read_csv('data/airbnb_last_review.tsv',sep='\t')

In [66]:
airbnb_price.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [67]:
airbnb_room_type.head()

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [68]:
airbnb_last_review.head()

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [69]:
airbnb_price_and_room=airbnb_price.merge(airbnb_room_type,on='listing_id')
airbnb_data=airbnb_price_and_room.merge(airbnb_last_review,on='listing_id')
airbnb_data.head()

   listing_id        price  ...    host_name   last_review
0        2595  225 dollars  ...     Jennifer   May 21 2019
1        3831   89 dollars  ...  LisaRoxanne  July 05 2019
2        5099  200 dollars  ...        Chris  June 22 2019
3        5178   79 dollars  ...     Shunichi  June 24 2019
4        5238  150 dollars  ...          Ben  June 09 2019

[5 rows x 7 columns]

In [70]:
#earliest and most recent reviews
airbnb_data['last_review']=pd.to_datetime(airbnb_data['last_review'] , format='%B %d %Y')
latest_review_date=airbnb_data['last_review'].max()
earliest_review_date=airbnb_data['last_review'].min()

In [71]:
airbnb_data['room_type']=airbnb_data['room_type'].str.lower().astype('category')

In [72]:
#number of private rooms
no_private_rooms=airbnb_data[airbnb_data['room_type']=='private room'].shape[0]

In [73]:
airbnb_data.rename(columns={'price':'price (in $)'},inplace=True)

In [74]:
airbnb_data['price (in $)']=airbnb_data['price (in $)'].str.strip('dollars')

In [75]:
airbnb_data['price (in $)']=airbnb_data['price (in $)'].astype('float')

In [76]:
average_price=airbnb_data['price (in $)'].mean()
average_listing_price=round(average_price,2)

In [77]:
review_dates=pd.DataFrame([{'first_reviewed':earliest_review_date,
                           'last_reviewed':latest_review_date,
                           'nb_private_rooms':no_private_rooms,
                           'avg_price':average_listing_price}])
review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78

In [78]:
airbnb_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   listing_id    25209 non-null  int64
 1   price (in $)  25209 non-null  float64
 2   nbhood_full   25209 non-null  object
 3   description   25199 non-null  object
 4   room_type     25209 non-null  category
 5   host_name     25201 non-null  object
 6   last_review   25209 non-null  datetime64[ns]
dtypes: category(1), datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 1.4+ MB