# Practical Exam: House sales

RealAgents is a real estate company that focuses on selling houses.

RealAgents sells a variety of types of house in one metropolitan area.

Some houses sell slowly and sometimes require lowering the price in order to find a buyer.

In order to stay competitive, RealAgents would like to optimize the listing prices of the houses it is trying to sell.

They want to do this by predicting the sale price of a house given its characteristics.

If they can predict the sale price in advance, they can decrease the time to sale.


## Data

The dataset contains records of previous houses sold in the area.

| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton'. </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced" (two shared walls), "Semi-detached" (one shared wall), or "Detached" (no shared walls). </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

# Task 1

The team at RealAgents knows that the city that a property is located in makes a difference to the sale price. 

Unfortuntately they believe that this isn't always recorded in the data. 

Calculate the number of missing values of the `city`. 

 - You should use the data in the file "house_sales.csv". 

 - Your output should be an object `missing_city`, that contains the number of missing values in this column.

In [7]:
# Use this cell to write your code for Task 1
import pandas as pd
import numpy as np

house_sales=pd.read_csv('house_sales.csv')

house_sales

,house_id,city,sale_price,sale_date,months_listed,bedrooms,house_type,area
0,1217792,Silvertown,55943,2021-09-12,5.4,2,Semi-detached,107.8 sq.m.
1,1900913,Silvertown,384677,2021-01-17,6.3,5,Detached,498.8 sq.m.
2,1174927,Riverford,281707,2021-11-10,6.9,6,Detached,542.5 sq.m.
3,1773666,Silvertown,373251,2020-04-13,6.1,6,Det.,528.4 sq.m.
4,1258487,Silvertown,328885,2020-09-24,8.7,5,Detached,477.1 sq.m.
...,...,...,...,...,...,...,...,...
1495,1123892,Riverford,198661,2022-02-17,7.3,5,Detached,432.2 sq.m.
1496,1327295,Poppleton,358304,2020-10-10,6.2,6,Detached,599.8 sq.m.
1497,1058161,Riverford,176612,2022-11-01,6.8,4,Detached,359.1 sq.m.
1498,1822037,Teasdale,197827,2021-04-03,5.4,3,Detached,253.7 sq.m.
1499,1679272,Poppleton,162099,2021-12-06,5.0,3,Detached,268.7 sq.m.

In [6]:
missing_city = (house_sales['city'] == '--').sum()
missing_city

0

# Task 2 

Before you fit any models, you will need to make sure the data is clean. 

The table below shows what the data should look like. 

Create a cleaned version of the dataframe. 

 - You should start with the data in the file "house_sales.csv". 

 - Your output should be a dataframe named `clean_data`. 

 - All column names and values should match the table below.


| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton' </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced", "Semi-detached", or "Detached". </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

In [2]:
# Use this cell to write your code for Task 2
house_sales['city']=house_sales['city'].str.replace('--','Unknown')
house_sales['city']=house_sales['city'].astype('category')

house_sales['months_listed']=house_sales['months_listed'].fillna(round(house_sales['months_listed'].mean(),1))

house_sales['sale_date']=pd.to_datetime(house_sales['sale_date'])

house_sales['house_type']=house_sales['house_type'].replace({'Det.':'Detached',
                                                   'Semi':'Semi-detached',
                                                   'Terr.':'Terraced'})

cat_order=pd.CategoricalDtype(['Terraced','Semi-detached','Detached'],
                                           ordered=True)
house_sales['house_type']=house_sales['house_type'].astype(cat_order)

house_sales['area']=house_sales['area'].astype('string')
house_sales['area']=house_sales['area'].str.replace('sq.m.','')
house_sales['area']=house_sales['area'].astype('float')

clean_data = house_sales.copy()

# Task 3 

The team at RealAgents have told you that they have always believed that the number of bedrooms is the biggest driver of house price. 

Producing a table showing the difference in the average sale price by number of bedrooms along with the variance to investigate this question for the team.

 - You should start with the data in the file 'house_sales.csv'.

 - Your output should be a data frame named `price_by_rooms`. 

 - It should include the three columns `bedrooms`, `avg_price`, `var_price`. 

 - Your answers should be rounded to 1 decimal place.

In [3]:
# Use this cell to write your code for Task 3
price_by_rooms = house_sales.groupby('bedrooms').agg(avg_price=('sale_price','mean'),
                                    var_price=('sale_price','var'))
price_by_rooms['avg_price'] = np.round(price_by_rooms['avg_price'],1)
price_by_rooms['var_price'] = np.round(price_by_rooms['var_price'],1)

price_by_rooms=price_by_rooms.reset_index().reset_index(drop=True)

print(price_by_rooms)

   bedrooms  avg_price     var_price
0         2    67076.4  5.652896e+08
1         3   154665.1  2.378289e+09
2         4   234704.6  1.725211e+09
3         5   301515.9  2.484328e+09
4         6   375741.3  3.924432e+09

# Task 4

Fit a baseline model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `base_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [9]:
from sklearn.linear_model import LinearRegression

train = pd.read_csv('train.csv')
validation=pd.read_csv('validation.csv')

train

,house_id,city,sale_price,sale_date,months_listed,bedrooms,house_type,area
0,1634561,Teasdale,401869,2021-12-14,7.0,6,Detached,519.7
1,1009770,Silvertown,372387,2022-09-11,8.1,6,Detached,507.8
2,1946667,Silvertown,325473,2020-08-19,5.4,5,Detached,466.8
3,1798290,Silvertown,349469,2022-12-10,6.4,5,Detached,499.4
4,1533461,Poppleton,199995,2020-04-07,4.3,4,Detached,335.0
...,...,...,...,...,...,...,...,...
1195,1598212,Teasdale,241139,2022-07-11,5.2,3,Detached,293.4
1196,1549200,Poppleton,255873,2020-01-17,8.8,5,Detached,407.8
1197,1919273,Silvertown,298012,2020-08-05,9.1,5,Detached,429.5
1198,1512003,Silvertown,280859,2022-12-21,6.1,4,Detached,369.3
1199,1452168,Poppleton,258418,2020-02-24,7.6,5,Detached,417.2

In [10]:
validation

,house_id,city,sale_date,months_listed,bedrooms,house_type,area
0,1331375,Teasdale,2022-05-17,7.7,3,Terraced,209.7
1,1630115,Teasdale,2020-06-30,6.5,4,Detached,390.6
2,1645745,Silvertown,2020-09-02,7.4,6,Detached,556.8
3,1336775,Silvertown,2021-10-03,8.8,3,Semi-detached,208.3
4,1888274,Silvertown,2022-06-13,5.7,4,Detached,389.2
...,...,...,...,...,...,...,...
295,1986255,Silvertown,2020-03-02,3.5,6,Detached,508.9
296,1896276,Silvertown,2021-05-05,8.4,6,Detached,533.2
297,1758223,Silvertown,2022-01-14,9.5,4,Detached,367.1
298,1752010,Poppleton,2020-10-07,2.6,3,Detached,291.3
299,1651404,Teasdale,2021-01-01,7.8,6,Detached,517.0

In [11]:
# Use this cell to write your code for Task 4
from sklearn.linear_model import LinearRegression

train = pd.read_csv('train.csv')
validation=pd.read_csv('validation.csv')

dummies01 = pd.get_dummies(train['city'])
dummies02 = pd.get_dummies(train['house_type'])
train = pd.concat([train,dummies01,dummies02],axis=1)  #column-wise concatenation
train = train.drop(['city','house_type'],axis=1)

dummies01 = pd.get_dummies(validation['city'])
dummies02 = pd.get_dummies(validation['house_type'])
validation = pd.concat([validation,dummies01,dummies02],axis=1)
validation = validation.drop(['city','house_type'],axis=1)

X_train = train.drop(['sale_price','sale_date'],axis=1)
y_train = train['sale_price']
X_test = validation.drop('sale_date',axis=1)

model=LinearRegression()
model.fit(X_train,y_train)
data_pred=model.predict(X_test)

base_result = pd.DataFrame({'house_id':X_test['house_id'],
                            'price':data_pred})

base_result

     house_id          price
0     1331375  121766.969718
1     1630115  304225.625161
2     1645745  384584.382844
3     1336775  124199.174831
4     1888274  270682.113018
..        ...            ...
295   1986255  351252.247686
296   1896276  369639.996120
297   1758223  258709.126049
298   1752010  168784.728233
299   1651404  391097.774134

[300 rows x 2 columns]

# Task 5

Fit a comparison model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `compare_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [12]:
# Use this cell to write your code for Task 5
from sklearn.ensemble import RandomForestRegressor

train = pd.read_csv('train.csv')
validation=pd.read_csv('validation.csv')

dummies01 = pd.get_dummies(train['city'])
dummies02 = pd.get_dummies(train['house_type'])
train = pd.concat([train,dummies01,dummies02],axis=1)
train = train.drop(['city','house_type'],axis=1)

dummies01 = pd.get_dummies(validation['city'])
dummies02 = pd.get_dummies(validation['house_type'])
validation = pd.concat([validation,dummies01,dummies02],axis=1)
validation = validation.drop(['city','house_type'],axis=1)

X_train = train.drop(['sale_price','sale_date'],axis=1)
y_train = train['sale_price']
X_test = validation.drop('sale_date',axis=1)

ranreg = RandomForestRegressor(n_estimators=100,min_samples_leaf=2,max_depth=20,random_state=42)
ranreg.fit(X_train,y_train)
data_pred=ranreg.predict(X_test)

compare_result = pd.DataFrame({'house_id':X_test['house_id'],
                               'price':data_pred})

compare_result

     house_id          price
0     1331375   80679.767905
1     1630115  302792.833607
2     1645745  402168.947286
3     1336775  105294.371302
4     1888274  260349.386940
..        ...            ...
295   1986255  362603.822516
296   1896276  384467.460742
297   1758223  263131.261405
298   1752010  177752.518298
299   1651404  414105.410659

[300 rows x 2 columns]

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

mae = mean_absolute_error(base_result['price'], compare_result['price'])
mse = mean_squared_error(base_result['price'], compare_result['price'])

pd.DataFrame({model: ['Linear Regression','Random Forest'],})

In [ ]:
# Evaluate models with ground truth (hold-out from train.csv)
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error
import pandas as pd
import numpy as np
df_eval = pd.read_csv('train.csv')
city_dummies = pd.get_dummies(df_eval['city'])
type_dummies = pd.get_dummies(df_eval['house_type'])
df_eval = pd.concat([df_eval.drop(['city', 'house_type', 'sale_date'], axis=1), city_dummies, type_dummies], axis=1)
X_full = df_eval.drop('sale_price', axis=1)
y_full = df_eval['sale_price']
X_tr, X_va, y_tr, y_va = train_test_split(X_full, y_full, test_size=0.2, random_state=42)
lin_eval = LinearRegression()
lin_eval.fit(X_tr, y_tr)
rf_eval = RandomForestRegressor(n_estimators=100, min_samples_leaf=2, max_depth=20, random_state=42)
rf_eval.fit(X_tr, y_tr)
def report_metrics(model, name):
    preds = model.predict(X_va)
    mae = mean_absolute_error(y_va, preds)
    rmse = mean_squared_error(y_va, preds, squared=False)
    return {'model': name, 'mae': mae, 'rmse': rmse}
pd.DataFrame([
    report_metrics(lin_eval, 'linear_regression'),
    report_metrics(rf_eval, 'random_forest')
])